<!-- Banner -->
<section id="banner">
    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">
        <header>
            <h2>File explorer</h2>
        </header>
        <p>This is <strong>File Explorer</strong>, a free
            <br /> finder/file explorer
            <br /> by <a href="http://www.hashup.io">HASHUP</a>.</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#download" class="button fit scrolly">Download</a></li>
            </ul>
        </footer>
    </div>
</section>